header {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E8EB;

    .title {
        font-size: 24px;
        font-weight: bold;

    }
}


@media (max-width: 1024px) {
    .title {
        font-weight: bold;
        font-size: 20px !important;
    }
}