.title-page {
    font-weight: bold;
    font-size: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.tab-block {
    width: 600px;
    max-width: 90vw;
    margin-top: 30px;

    .tab-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #334D66;

        span {
            color: #334D66;
            border-bottom: 2px double #334D66;
            padding-bottom: 5px;

            font-weight: bold;
            font-size: 16px;
            cursor: pointer;

            &.active {
                color: white;
                border-bottom: 2px double white;
            }
        }
    }

    .tab-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

    }
}

.tab-content {
    display: flex;
    flex-direction: column;
}


.tab-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    span {
        font-size: 20px;
        font-weight: 500;
        margin: 5px 0;

    }
}

.tab-check {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

    label {
        margin-left: 10px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px 20px 20px;

    img {
        margin-right: 10px;
    }
}

@media (max-width: 1024px) {
    .title-page {
        font-weight: bold;
        font-size: 20px;
    }
}